<div class="row mt-3">
  <div class="col-md-12">
    <h2>Contracts</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let contract of contracts;">
        <strong>ContractID: </strong> {{ contract.contractId}}
        <br>
        <strong>Farm CNPJ: </strong> {{ contract.farm.cnpj}}
        <br>
        <strong> Farm Name: </strong> {{ contract.farm.name}}
        <br>
        <strong>Fridge CNPJ: </strong> {{ contract.fridge.cnpj}}
        <br>
        <strong>Farm Name: </strong> {{ contract.fridge.name}}
        <br>
        <strong>GTA Number: </strong> {{ contract.gtaNumber}}
        <br>
        <strong>Animals:</strong>
        <br>
        <ul>
          <li *ngFor="let animal of contract.batch.animals">
            AnimalId: {{ animal.rfid}}
            <br> Weight: {{ animal.weight }}
            <br> Scale: {{ animal.scale }}
            <br>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>