<div class="row mt-3">
  <div class="col-md-6">
    <h2>Admin Panel</h2>
    <div class="form-group">
      <button class="btn btn-success" (click)="onAllForSale()">Change all animals' status to 'FOR_SALE'</button>
    </div>
    <!-- <div class="form-group">
      <button class="btn btn-danger" (click)="onDeleteAll()">Delete All animals</button>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="onBootstrap()">Create all animals again (Use after deleting)</button>
    </div> -->
  </div>
</div>