<div class="mt-3">
  <h3>Available
    <button [disabled]="listingSold" (click)="getContract(template)" class="btn btn-success float-right mb-3">
      Checkout
    </button>
    <button (click)="listForSale()" class="btn btn-primary mr-3 float-right mb-3">
      FOR_SALE
    </button>
    <button (click)="listSold()" class="btn btn-primary mr-3 float-right mb-3">
      SOLD
    </button>
  </h3>
  <table class="table table-striped">
    <tr>
      <th>RFID</th>
      <th>Weight (KG)</th>
      <th>Scale</th>
      <th>Status</th>
      <th>Info</th>
      <th>Add</th>
    </tr>
    <tr *ngFor="let animal of animals;let i = index;">
      <td>{{animal.rfid}}</td>
      <td>{{animal.weight.toFixed(2)}}</td>
      <td>{{animal.scale}}</td>
      <td>{{animal.status}}</td>
      <td></td>
      <td>
        <input [disabled]="animal.status === 'SOLD'" class="form-control" type="checkbox" name="options" value="animal" [(ngModel)]="animals[i].checked"
        />
      </td>
    </tr>
  </table>
</div>

<ng-template #template>
  <div class="modal-dialog">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Contract Created</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Contract Created!
    </div>
  </div>

</ng-template>